<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../html/home.html">
  <title>LOC|YOUTHCHURCH</title>
</head>

<body>
  <div class="body">
    <nav>
      <div class="site-name">
        <h2>LOC</h2>
        <p class="tag">(League of Champions)</p>
        <!--  -->
      </div>
      <div class="content">
        <ul class="social">
          <li class="xc">
            <a href="" class="base">Home
            </a>
          </li>
          <li class="xc">
            <a href="" class="base">About
            </a>
          </li>
          <li class="xc">
            <a href="" class="base">Easter Camps
            </a>
          </li>
          <li class="xc">
            <a href="" class="base">Login
            </a>
          </li>
          <li class="xc">
            <a href="" class="base">Contact Us
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="textandbutton">
      <div class="welcometext">
        <p id="cent">
          <div class="cent">
            <div class="centre" id="one">Welcome To</div>
            <div class="centre" id="one">
              <br>The League of Champions</div>
            <div class="centre" id="one">
              <br>Young Adult Church.</div>
          </div>
        </p>
      </div>
      <div class="holdMenubutton">
        <div class="a">
          <span class="menuButton1">Worship with us</span>
        </div>
        <div class="a">
          <span class="menuButton1">Visit our Library</span>
        </div>
        <div class="a">
          <span class="menuButton1">Latest Sermons</span>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div id="quote">
    <h3>See Pefection
      <br>in your imperfections</h3>
  </div>
  <ul class="list-ul">
    <li class="rem">
      <div class="imgcontainer">
        <div class="listimage"></div>
      </div>
      <div class="lem">
        <h2 class="bbb">You can worship with us.</h2>
        </br>
        <div>
          <p id="para2">This is the league of champions youth church We have good ambiance to get you prepared for and awesome worship
            in God's presence</p>
        </div>
        <button>Welcome</button>
      </div>
    </li>
  </ul>
  <div class="hr">
    <hr>
  </div>
  <ul class="list-ul">
    <li class="rem">
      <div class="imgcontainer">
        <div class="listimage"></div>
      </div>
      <div class="lem">
        <h2 class="bbb">Our Monthly Hangouts</h2>
        </br>
        <div>
          <p id="para2">This is the league of champions youth church We have good ambiance to get you prepared for and awesome worship
            in God's presence</p>
        </div>
        <button>Time / Venue</button>
      </div>
    </li>
  </ul>
  <div class="hr">
    <hr>
  </div>
  <ul class="list-ul">
    <li class="rem">
      <div class="imgcontainer">
        <div class="listimage"></div>
      </div>
      <div class="lem">
        <h2 class="bbb">Our Inovative Variety Sunday</h2>
        </br>
        <div>
          <p id="para2">This is the league of champions youth church We have good ambiance to get you prepared for and awesome worship
            in God's presence</p>
        </div>
        <button>Registration</button>
      </div>
    </li>
  </ul>
  <div class="hr">
    <hr>
  </div>
  <!-- <div class="list-ul2header">
    <h2>Visit Our Library</h2>
  </div>
  <ul class="list-ul2">
    <li class="zem">
      <div class="listimage"></div>
    </li>
    <li class="zem">
      <div class="listimage"></div>
    </li>
    <li class="zem">
      <div class="listimage"></div>
    </li>
    <li class="zem">
      <div class="listimage"></div>
    </li>
  </ul>
  <div class="hr">
    <hr>
  </div>
  <div class="list-ul2header">
    <h2>Latest Sermons</h2>
  </div>
  <ul class="list-ul2">
    <li class="zem">
      <div class="listimage"></div>
    </li>
    <li class="zem">
      <div class="listimage"></div>
    </li>
    <li class="zem">
      <div class="listimage"></div>
    </li>
    <li class="zem">
      <div class="listimage"></div>
    </li>
  </ul> -->

  <footer>

  </footer>

</body>

</html>