<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./../css/login.css">
  <title>LOC|YOUNG|ADULT|CHURCH</title>
</head>

<body>
  <nav>
    <div class="site-name">
      <h2>LOC</h2>
      <p class="tag">(League of Champions)</p>
      <!--  -->
    </div>
  </nav>

  <div class="login-container">

  </div>
</body>

</html>