*{
  font-family: URW Chancery L, cursive;
  font-style: italic;
  margin: 0;
  padding: 0;
  margin-right: 0;
}
nav{
  position: fixed;
  background-color:rgb(56, 45, 45);
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
}
nav ul{
  list-style-type: none;
  padding: 0;
  display: flex;
}
h2{
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: blue;
}

.site-name{
  margin-left:40px
}
.website-name-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
}
nav p{
  color: blue;
  font-size: 7px;
  margin-top: -12px;
}
body{
  background-color:#fff;
}

@media screen and (min-width: 768px){

form{
  display: flex;
  flex-flow: column;
  width: 60%;
  margin-right: 63px;
}

.login-container{
  display: flex;
  justify-content: center;
  width: 30%;
  height: 480px;
  border: 2px solid black;
  margin: auto;
  margin-top: 125px;
}
.login-list{
  margin: auto;
  margin-bottom: 2px;
  padding-right: 42px;
}
.login-list-li:hover{
background-color: #fff;
}
.login-container-two{
  display: flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
  margin-top: -98px
}
.welcome-msg{
  color:black;
  font-size: 22px;
  margin-bottom: 15px;
}
input[type=text]{
  padding: 10px;
  margin: 15px;
  width: 235px
}
input[type=password]{
  padding: 10px;
  margin: 15px;
  width: 235px
}

input[type=submit]{
  padding: 10px;
  margin: 9px;
  width: 100%;
  margin-left: 21px;
}
#sign-up{
  margin: 25px;
  font-size: 35px;
}
#login-list-li{
  margin: 25px;
  font-size: 35px;
  width: 300px;
  border: #fff;
}

nav p{
  color: blue;
  font-size: 7px;
  margin-top: -12px;
}
nav{
  height: 124px;
}

.login-list{
  list-style-type: none;
}
nav a{
  text-decoration: none;
}
 .nav-login-container{
  display: flex;
  justify-content: center;
  border: 2px solid red;
}

}
/* login container ends here */